/target
.idea
*.out
*.iml
*.o
cmake-build-debug
CMakeLists
lab_1/task3/prog
lab_2/target/.rustc_info.json
lab_2/target/bootimage/bootloader/.rustc_info.json
lab_2/target/bootimage/bootloader/release/.cargo-lock
lab_2/target/bootimage/bootloader/release/.fingerprint/bitflags-b054b5851c128a6b/build-script-build-script-build
lab_2/target/bootimage/bootloader/release/.fingerprint/bitflags-b054b5851c128a6b/build-script-build-script-build.json
lab_2/target/bootimage/bootloader/release/.fingerprint/bitflags-b054b5851c128a6b/dep-build-script-build-script-build
lab_2/target/bootimage/bootloader/release/.fingerprint/bitflags-b054b5851c128a6b/invoked.timestamp
lab_2/target/bootimage/bootloader/release/.fingerprint/bootloader-ae11563e45815d97/build-script-build-script-build
lab_2/target/bootimage/bootloader/release/.fingerprint/bootloader-ae11563e45815d97/build-script-build-script-build.json
lab_2/target/bootimage/bootloader/release/.fingerprint/bootloader-ae11563e45815d97/dep-build-script-build-script-build
lab_2/target/bootimage/bootloader/release/.fingerprint/bootloader-ae11563e45815d97/invoked.timestamp
lab_2/target/bootimage/bootloader/release/.fingerprint/compiler_builtins-1ea532767ab4ae46/build-script-build-script-build
lab_2/target/bootimage/bootloader/release/.fingerprint/compiler_builtins-1ea532767ab4ae46/build-script-build-script-build.json
lab_2/target/bootimage/bootloader/release/.fingerprint/compiler_builtins-1ea532767ab4ae46/dep-build-script-build-script-build
lab_2/target/bootimage/bootloader/release/.fingerprint/compiler_builtins-1ea532767ab4ae46/invoked.timestamp
lab_2/target/bootimage/bootloader/release/.fingerprint/llvm-tools-aa992c9253c07c0f/dep-lib-llvm-tools
lab_2/target/bootimage/bootloader/release/.fingerprint/llvm-tools-aa992c9253c07c0f/invoked.timestamp
lab_2/target/bootimage/bootloader/release/.fingerprint/llvm-tools-aa992c9253c07c0f/lib-llvm-tools
lab_2/target/bootimage/bootloader/release/.fingerprint/llvm-tools-aa992c9253c07c0f/lib-llvm-tools.json
lab_2/target/bootimage/bootloader/release/.fingerprint/serde-4cfebdb98f687f99/build-script-build-script-build
lab_2/target/bootimage/bootloader/release/.fingerprint/serde-4cfebdb98f687f99/build-script-build-script-build.json
lab_2/target/bootimage/bootloader/release/.fingerprint/serde-4cfebdb98f687f99/dep-build-script-build-script-build
lab_2/target/bootimage/bootloader/release/.fingerprint/serde-4cfebdb98f687f99/invoked.timestamp
lab_2/target/bootimage/bootloader/release/.fingerprint/serde-789cc6c3723bb01c/run-build-script-build-script-build
lab_2/target/bootimage/bootloader/release/.fingerprint/serde-789cc6c3723bb01c/run-build-script-build-script-build.json
lab_2/target/bootimage/bootloader/release/.fingerprint/serde-8e91188e5e982809/dep-lib-serde
lab_2/target/bootimage/bootloader/release/.fingerprint/serde-8e91188e5e982809/invoked.timestamp
lab_2/target/bootimage/bootloader/release/.fingerprint/serde-8e91188e5e982809/lib-serde
lab_2/target/bootimage/bootloader/release/.fingerprint/serde-8e91188e5e982809/lib-serde.json
lab_2/target/bootimage/bootloader/release/.fingerprint/toml-fbe6314d6145d355/dep-lib-toml
lab_2/target/bootimage/bootloader/release/.fingerprint/toml-fbe6314d6145d355/invoked.timestamp
lab_2/target/bootimage/bootloader/release/.fingerprint/toml-fbe6314d6145d355/lib-toml
lab_2/target/bootimage/bootloader/release/.fingerprint/toml-fbe6314d6145d355/lib-toml.json
lab_2/target/bootimage/bootloader/release/.fingerprint/x86_64-f9790885624aea69/build-script-build-script-build
lab_2/target/bootimage/bootloader/release/.fingerprint/x86_64-f9790885624aea69/build-script-build-script-build.json
lab_2/target/bootimage/bootloader/release/.fingerprint/x86_64-f9790885624aea69/dep-build-script-build-script-build
lab_2/target/bootimage/bootloader/release/.fingerprint/x86_64-f9790885624aea69/invoked.timestamp
lab_2/target/bootimage/bootloader/release/build/bitflags-b054b5851c128a6b/build_script_build.pdb
lab_2/target/bootimage/bootloader/release/build/bitflags-b054b5851c128a6b/build_script_build-b054b5851c128a6b.d
lab_2/target/bootimage/bootloader/release/build/bitflags-b054b5851c128a6b/build_script_build-b054b5851c128a6b.exe
lab_2/target/bootimage/bootloader/release/build/bitflags-b054b5851c128a6b/build_script_build-b054b5851c128a6b.pdb
lab_2/target/bootimage/bootloader/release/build/bitflags-b054b5851c128a6b/build-script-build.exe
lab_2/target/bootimage/bootloader/release/build/bootloader-ae11563e45815d97/build_script_build.pdb
lab_2/target/bootimage/bootloader/release/build/bootloader-ae11563e45815d97/build_script_build-ae11563e45815d97.d
lab_2/target/bootimage/bootloader/release/build/bootloader-ae11563e45815d97/build_script_build-ae11563e45815d97.exe
lab_2/target/bootimage/bootloader/release/build/bootloader-ae11563e45815d97/build_script_build-ae11563e45815d97.pdb
lab_2/target/bootimage/bootloader/release/build/bootloader-ae11563e45815d97/build-script-build.exe
lab_2/target/bootimage/bootloader/release/build/compiler_builtins-1ea532767ab4ae46/build_script_build.pdb
lab_2/target/bootimage/bootloader/release/build/compiler_builtins-1ea532767ab4ae46/build_script_build-1ea532767ab4ae46.d
lab_2/target/bootimage/bootloader/release/build/compiler_builtins-1ea532767ab4ae46/build_script_build-1ea532767ab4ae46.exe
lab_2/target/bootimage/bootloader/release/build/compiler_builtins-1ea532767ab4ae46/build_script_build-1ea532767ab4ae46.pdb
lab_2/target/bootimage/bootloader/release/build/compiler_builtins-1ea532767ab4ae46/build-script-build.exe
lab_2/target/bootimage/bootloader/release/build/serde-4cfebdb98f687f99/build_script_build.pdb
lab_2/target/bootimage/bootloader/release/build/serde-4cfebdb98f687f99/build_script_build-4cfebdb98f687f99.d
lab_2/target/bootimage/bootloader/release/build/serde-4cfebdb98f687f99/build_script_build-4cfebdb98f687f99.exe
lab_2/target/bootimage/bootloader/release/build/serde-4cfebdb98f687f99/build_script_build-4cfebdb98f687f99.pdb
lab_2/target/bootimage/bootloader/release/build/serde-4cfebdb98f687f99/build-script-build.exe
lab_2/target/bootimage/bootloader/release/build/serde-789cc6c3723bb01c/invoked.timestamp
lab_2/target/bootimage/bootloader/release/build/serde-789cc6c3723bb01c/output
lab_2/target/bootimage/bootloader/release/build/serde-789cc6c3723bb01c/root-output
lab_2/target/bootimage/bootloader/release/build/serde-789cc6c3723bb01c/stderr
lab_2/target/bootimage/bootloader/release/build/x86_64-f9790885624aea69/build_script_build.pdb
lab_2/target/bootimage/bootloader/release/build/x86_64-f9790885624aea69/build_script_build-f9790885624aea69.d
lab_2/target/bootimage/bootloader/release/build/x86_64-f9790885624aea69/build_script_build-f9790885624aea69.exe
lab_2/target/bootimage/bootloader/release/build/x86_64-f9790885624aea69/build_script_build-f9790885624aea69.pdb
lab_2/target/bootimage/bootloader/release/build/x86_64-f9790885624aea69/build-script-build.exe
lab_2/target/bootimage/bootloader/release/deps/libllvm_tools-aa992c9253c07c0f.rlib
lab_2/target/bootimage/bootloader/release/deps/libllvm_tools-aa992c9253c07c0f.rmeta
lab_2/target/bootimage/bootloader/release/deps/libserde-8e91188e5e982809.rlib
lab_2/target/bootimage/bootloader/release/deps/libserde-8e91188e5e982809.rmeta
lab_2/target/bootimage/bootloader/release/deps/libtoml-fbe6314d6145d355.rlib
lab_2/target/bootimage/bootloader/release/deps/libtoml-fbe6314d6145d355.rmeta
lab_2/target/bootimage/bootloader/release/deps/llvm_tools-aa992c9253c07c0f.d
lab_2/target/bootimage/bootloader/release/deps/serde-8e91188e5e982809.d
lab_2/target/bootimage/bootloader/release/deps/toml-fbe6314d6145d355.d
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.cargo-lock
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/bootloader
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/bootloader.d
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bit_field-89df0623732d1e1c/dep-lib-bit_field
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bit_field-89df0623732d1e1c/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bit_field-89df0623732d1e1c/lib-bit_field
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bit_field-89df0623732d1e1c/lib-bit_field.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bitflags-61ff3b69992af37d/run-build-script-build-script-build
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bitflags-61ff3b69992af37d/run-build-script-build-script-build.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bitflags-f1e945f3f95196aa/dep-lib-bitflags
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bitflags-f1e945f3f95196aa/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bitflags-f1e945f3f95196aa/lib-bitflags
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bitflags-f1e945f3f95196aa/lib-bitflags.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bootloader-9e0cf67e6338dc57/dep-lib-bootloader
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bootloader-9e0cf67e6338dc57/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bootloader-9e0cf67e6338dc57/lib-bootloader
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bootloader-9e0cf67e6338dc57/lib-bootloader.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bootloader-c257457162e1acf1/bin-bootloader
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bootloader-c257457162e1acf1/bin-bootloader.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bootloader-c257457162e1acf1/dep-bin-bootloader
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bootloader-c257457162e1acf1/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bootloader-db75ac76a186a061/run-build-script-build-script-build
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/bootloader-db75ac76a186a061/run-build-script-build-script-build.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/compiler_builtins-2cffbdf4597c0313/dep-lib-compiler_builtins
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/compiler_builtins-2cffbdf4597c0313/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/compiler_builtins-2cffbdf4597c0313/lib-compiler_builtins
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/compiler_builtins-2cffbdf4597c0313/lib-compiler_builtins.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/compiler_builtins-acb6465c6f9c9ee9/run-build-script-build-script-build
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/compiler_builtins-acb6465c6f9c9ee9/run-build-script-build-script-build.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/core-83a2e8017bc4205b/dep-lib-core
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/core-83a2e8017bc4205b/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/core-83a2e8017bc4205b/lib-core
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/core-83a2e8017bc4205b/lib-core.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/fixedvec-7934f3bf151db76a/dep-lib-fixedvec
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/fixedvec-7934f3bf151db76a/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/fixedvec-7934f3bf151db76a/lib-fixedvec
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/fixedvec-7934f3bf151db76a/lib-fixedvec.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/rlibc-04e0f7aba7e17108/dep-lib-rlibc
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/rlibc-04e0f7aba7e17108/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/rlibc-04e0f7aba7e17108/lib-rlibc
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/rlibc-04e0f7aba7e17108/lib-rlibc.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/rustc-std-workspace-core-faff99cae6ac5e58/dep-lib-rustc-std-workspace-core
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/rustc-std-workspace-core-faff99cae6ac5e58/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/rustc-std-workspace-core-faff99cae6ac5e58/lib-rustc-std-workspace-core
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/rustc-std-workspace-core-faff99cae6ac5e58/lib-rustc-std-workspace-core.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/usize_conversions-37393bbaadf57682/dep-lib-usize_conversions
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/usize_conversions-37393bbaadf57682/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/usize_conversions-37393bbaadf57682/lib-usize_conversions
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/usize_conversions-37393bbaadf57682/lib-usize_conversions.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/volatile-ea98332073aab05d/dep-lib-volatile
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/volatile-ea98332073aab05d/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/volatile-ea98332073aab05d/lib-volatile
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/volatile-ea98332073aab05d/lib-volatile.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/x86_64-96978a6139e296a3/run-build-script-build-script-build
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/x86_64-96978a6139e296a3/run-build-script-build-script-build.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/x86_64-ebd6c92d026f68b9/dep-lib-x86_64
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/x86_64-ebd6c92d026f68b9/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/x86_64-ebd6c92d026f68b9/lib-x86_64
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/x86_64-ebd6c92d026f68b9/lib-x86_64.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/xmas-elf-9571c9b7074dad45/dep-lib-xmas_elf
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/xmas-elf-9571c9b7074dad45/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/xmas-elf-9571c9b7074dad45/lib-xmas_elf
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/xmas-elf-9571c9b7074dad45/lib-xmas_elf.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/zero-112d97d4de8062ca/dep-lib-zero
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/zero-112d97d4de8062ca/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/zero-112d97d4de8062ca/lib-zero
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/.fingerprint/zero-112d97d4de8062ca/lib-zero.json
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/bitflags-61ff3b69992af37d/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/bitflags-61ff3b69992af37d/output
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/bitflags-61ff3b69992af37d/root-output
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/bitflags-61ff3b69992af37d/stderr
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/bootloader-db75ac76a186a061/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/bootloader-db75ac76a186a061/output
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/bootloader-db75ac76a186a061/root-output
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/bootloader-db75ac76a186a061/stderr
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/bootloader-db75ac76a186a061/out/bootloader_config.rs
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/bootloader-db75ac76a186a061/out/kernel_stripped-unios
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/bootloader-db75ac76a186a061/out/libkernel_bin-unios.a
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/compiler_builtins-acb6465c6f9c9ee9/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/compiler_builtins-acb6465c6f9c9ee9/output
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/compiler_builtins-acb6465c6f9c9ee9/root-output
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/compiler_builtins-acb6465c6f9c9ee9/stderr
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/x86_64-96978a6139e296a3/invoked.timestamp
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/x86_64-96978a6139e296a3/output
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/x86_64-96978a6139e296a3/root-output
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/build/x86_64-96978a6139e296a3/stderr
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/bit_field-89df0623732d1e1c.d
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/bitflags-f1e945f3f95196aa.d
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/bootloader-9e0cf67e6338dc57.d
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/bootloader-c257457162e1acf1
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/bootloader-c257457162e1acf1.d
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/compiler_builtins-2cffbdf4597c0313.d
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/core-83a2e8017bc4205b.d
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/fixedvec-7934f3bf151db76a.d
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libbit_field-89df0623732d1e1c.rlib
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libbit_field-89df0623732d1e1c.rmeta
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libbitflags-f1e945f3f95196aa.rlib
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libbitflags-f1e945f3f95196aa.rmeta
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libbootloader-9e0cf67e6338dc57.rlib
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libbootloader-9e0cf67e6338dc57.rmeta
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libcompiler_builtins-2cffbdf4597c0313.rlib
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libcompiler_builtins-2cffbdf4597c0313.rmeta
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libcore-83a2e8017bc4205b.rlib
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libcore-83a2e8017bc4205b.rmeta
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libfixedvec-7934f3bf151db76a.rlib
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libfixedvec-7934f3bf151db76a.rmeta
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/librlibc-04e0f7aba7e17108.rlib
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/librlibc-04e0f7aba7e17108.rmeta
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/librustc_std_workspace_core-faff99cae6ac5e58.rlib
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/librustc_std_workspace_core-faff99cae6ac5e58.rmeta
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libusize_conversions-37393bbaadf57682.rlib
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libusize_conversions-37393bbaadf57682.rmeta
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libvolatile-ea98332073aab05d.rlib
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libvolatile-ea98332073aab05d.rmeta
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libx86_64-ebd6c92d026f68b9.rlib
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libx86_64-ebd6c92d026f68b9.rmeta
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libxmas_elf-9571c9b7074dad45.rlib
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libxmas_elf-9571c9b7074dad45.rmeta
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libzero-112d97d4de8062ca.rlib
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/libzero-112d97d4de8062ca.rmeta
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/rlibc-04e0f7aba7e17108.d
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/rustc_std_workspace_core-faff99cae6ac5e58.d
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/usize_conversions-37393bbaadf57682.d
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/volatile-ea98332073aab05d.d
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/x86_64-ebd6c92d026f68b9.d
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/xmas_elf-9571c9b7074dad45.d
lab_2/target/bootimage/bootloader/x86_64-bootloader/release/deps/zero-112d97d4de8062ca.d
lab_2/target/debug/.cargo-lock
lab_2/target/debug/.fingerprint/bootloader-411246f4065f010b/build-script-build-script-build
lab_2/target/debug/.fingerprint/bootloader-411246f4065f010b/build-script-build-script-build.json
lab_2/target/debug/.fingerprint/bootloader-411246f4065f010b/dep-build-script-build-script-build
lab_2/target/debug/.fingerprint/bootloader-411246f4065f010b/invoked.timestamp
lab_2/target/debug/.fingerprint/compiler_builtins-a6ed7615d24a6018/build-script-build-script-build
lab_2/target/debug/.fingerprint/compiler_builtins-a6ed7615d24a6018/build-script-build-script-build.json
lab_2/target/debug/.fingerprint/compiler_builtins-a6ed7615d24a6018/dep-build-script-build-script-build
lab_2/target/debug/.fingerprint/compiler_builtins-a6ed7615d24a6018/invoked.timestamp
lab_2/target/debug/build/bootloader-411246f4065f010b/build_script_build.pdb
lab_2/target/debug/build/bootloader-411246f4065f010b/build_script_build-411246f4065f010b.d
lab_2/target/debug/build/bootloader-411246f4065f010b/build_script_build-411246f4065f010b.exe
lab_2/target/debug/build/bootloader-411246f4065f010b/build_script_build-411246f4065f010b.pdb
lab_2/target/debug/build/bootloader-411246f4065f010b/build-script-build.exe
lab_2/target/debug/build/compiler_builtins-a6ed7615d24a6018/build_script_build.pdb
lab_2/target/debug/build/compiler_builtins-a6ed7615d24a6018/build_script_build-a6ed7615d24a6018.d
lab_2/target/debug/build/compiler_builtins-a6ed7615d24a6018/build_script_build-a6ed7615d24a6018.exe
lab_2/target/debug/build/compiler_builtins-a6ed7615d24a6018/build_script_build-a6ed7615d24a6018.pdb
lab_2/target/debug/build/compiler_builtins-a6ed7615d24a6018/build-script-build.exe
lab_2/target/x86_64-my_os/debug/.cargo-lock
lab_2/target/x86_64-my_os/debug/bootimage-unios.bin
lab_2/target/x86_64-my_os/debug/unios
lab_2/target/x86_64-my_os/debug/unios.d
lab_2/target/x86_64-my_os/debug/.fingerprint/bootloader-1e964c482cc87ed8/invoked.timestamp
lab_2/target/x86_64-my_os/debug/.fingerprint/bootloader-1e964c482cc87ed8/lib-bootloader
lab_2/target/x86_64-my_os/debug/.fingerprint/bootloader-1e964c482cc87ed8/lib-bootloader.json
lab_2/target/x86_64-my_os/debug/.fingerprint/bootloader-3bcb366f86cf46c3/dep-lib-bootloader
lab_2/target/x86_64-my_os/debug/.fingerprint/bootloader-3bcb366f86cf46c3/invoked.timestamp
lab_2/target/x86_64-my_os/debug/.fingerprint/bootloader-3bcb366f86cf46c3/lib-bootloader
lab_2/target/x86_64-my_os/debug/.fingerprint/bootloader-3bcb366f86cf46c3/lib-bootloader.json
lab_2/target/x86_64-my_os/debug/.fingerprint/bootloader-4fa1146283fadedd/run-build-script-build-script-build
lab_2/target/x86_64-my_os/debug/.fingerprint/bootloader-4fa1146283fadedd/run-build-script-build-script-build.json
lab_2/target/x86_64-my_os/debug/.fingerprint/bootloader-f69c8975e1cae764/invoked.timestamp
lab_2/target/x86_64-my_os/debug/.fingerprint/bootloader-f69c8975e1cae764/lib-bootloader
lab_2/target/x86_64-my_os/debug/.fingerprint/bootloader-f69c8975e1cae764/lib-bootloader.json
lab_2/target/x86_64-my_os/debug/.fingerprint/compiler_builtins-654e13ed4da84ecd/run-build-script-build-script-build
lab_2/target/x86_64-my_os/debug/.fingerprint/compiler_builtins-654e13ed4da84ecd/run-build-script-build-script-build.json
lab_2/target/x86_64-my_os/debug/.fingerprint/compiler_builtins-a24d891488613dfe/dep-lib-compiler_builtins
lab_2/target/x86_64-my_os/debug/.fingerprint/compiler_builtins-a24d891488613dfe/invoked.timestamp
lab_2/target/x86_64-my_os/debug/.fingerprint/compiler_builtins-a24d891488613dfe/lib-compiler_builtins
lab_2/target/x86_64-my_os/debug/.fingerprint/compiler_builtins-a24d891488613dfe/lib-compiler_builtins.json
lab_2/target/x86_64-my_os/debug/.fingerprint/core-deeb936f89029ea7/dep-lib-core
lab_2/target/x86_64-my_os/debug/.fingerprint/core-deeb936f89029ea7/invoked.timestamp
lab_2/target/x86_64-my_os/debug/.fingerprint/core-deeb936f89029ea7/lib-core
lab_2/target/x86_64-my_os/debug/.fingerprint/core-deeb936f89029ea7/lib-core.json
lab_2/target/x86_64-my_os/debug/.fingerprint/rustc-std-workspace-core-f69597c849da1266/dep-lib-rustc-std-workspace-core
lab_2/target/x86_64-my_os/debug/.fingerprint/rustc-std-workspace-core-f69597c849da1266/invoked.timestamp
lab_2/target/x86_64-my_os/debug/.fingerprint/rustc-std-workspace-core-f69597c849da1266/lib-rustc-std-workspace-core
lab_2/target/x86_64-my_os/debug/.fingerprint/rustc-std-workspace-core-f69597c849da1266/lib-rustc-std-workspace-core.json
lab_2/target/x86_64-my_os/debug/.fingerprint/unios-5d9a04b63e348837/bin-unios
lab_2/target/x86_64-my_os/debug/.fingerprint/unios-5d9a04b63e348837/bin-unios.json
lab_2/target/x86_64-my_os/debug/.fingerprint/unios-5d9a04b63e348837/dep-bin-unios
lab_2/target/x86_64-my_os/debug/.fingerprint/unios-5d9a04b63e348837/invoked.timestamp
lab_2/target/x86_64-my_os/debug/.fingerprint/unios-5d9a04b63e348837/output-bin-unios
lab_2/target/x86_64-my_os/debug/.fingerprint/unios-669020db82db3166/invoked.timestamp
lab_2/target/x86_64-my_os/debug/.fingerprint/unios-669020db82db3166/test-bin-unios
lab_2/target/x86_64-my_os/debug/.fingerprint/unios-669020db82db3166/test-bin-unios.json
lab_2/target/x86_64-my_os/debug/.fingerprint/unios-8f9ed33430644af4/bin-unios
lab_2/target/x86_64-my_os/debug/.fingerprint/unios-8f9ed33430644af4/bin-unios.json
lab_2/target/x86_64-my_os/debug/.fingerprint/unios-8f9ed33430644af4/invoked.timestamp
lab_2/target/x86_64-my_os/debug/build/bootloader-4fa1146283fadedd/invoked.timestamp
lab_2/target/x86_64-my_os/debug/build/bootloader-4fa1146283fadedd/output
lab_2/target/x86_64-my_os/debug/build/bootloader-4fa1146283fadedd/root-output
lab_2/target/x86_64-my_os/debug/build/bootloader-4fa1146283fadedd/stderr
lab_2/target/x86_64-my_os/debug/build/compiler_builtins-654e13ed4da84ecd/invoked.timestamp
lab_2/target/x86_64-my_os/debug/build/compiler_builtins-654e13ed4da84ecd/output
lab_2/target/x86_64-my_os/debug/build/compiler_builtins-654e13ed4da84ecd/root-output
lab_2/target/x86_64-my_os/debug/build/compiler_builtins-654e13ed4da84ecd/stderr
lab_2/target/x86_64-my_os/debug/deps/bootloader-3bcb366f86cf46c3.d
lab_2/target/x86_64-my_os/debug/deps/compiler_builtins-a24d891488613dfe.d
lab_2/target/x86_64-my_os/debug/deps/core-deeb936f89029ea7.d
lab_2/target/x86_64-my_os/debug/deps/libbootloader-3bcb366f86cf46c3.rlib
lab_2/target/x86_64-my_os/debug/deps/libbootloader-3bcb366f86cf46c3.rmeta
lab_2/target/x86_64-my_os/debug/deps/libcompiler_builtins-a24d891488613dfe.rlib
lab_2/target/x86_64-my_os/debug/deps/libcompiler_builtins-a24d891488613dfe.rmeta
lab_2/target/x86_64-my_os/debug/deps/libcore-deeb936f89029ea7.rlib
lab_2/target/x86_64-my_os/debug/deps/libcore-deeb936f89029ea7.rmeta
lab_2/target/x86_64-my_os/debug/deps/librustc_std_workspace_core-f69597c849da1266.rlib
lab_2/target/x86_64-my_os/debug/deps/librustc_std_workspace_core-f69597c849da1266.rmeta
lab_2/target/x86_64-my_os/debug/deps/rustc_std_workspace_core-f69597c849da1266.d
lab_2/target/x86_64-my_os/debug/deps/unios-5d9a04b63e348837
lab_2/target/x86_64-my_os/debug/deps/unios-5d9a04b63e348837.d
lab_2/target/x86_64-my_os/debug/incremental/unios-3r8zo1aflnww7/s-ggc8rqhvbs-1uz9cdi.lock
lab_2/target/x86_64-my_os/debug/incremental/unios-3r8zo1aflnww7/s-ggc8rqhvbs-1uz9cdi-2bbcidsqcd9k0/dep-graph.bin
lab_2/target/x86_64-my_os/debug/incremental/unios-3r8zo1aflnww7/s-ggc8rqhvbs-1uz9cdi-2bbcidsqcd9k0/query-cache.bin
lab_2/target/x86_64-my_os/debug/incremental/unios-3r8zo1aflnww7/s-ggc8rqhvbs-1uz9cdi-2bbcidsqcd9k0/work-products.bin
